* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


body .home{
  font-family: Arial, sans-serif,'Playfair Display', serif;
  background-color: rgb(255, 255, 255);
  
}

.navbar {
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
background-color: rgb(255, 255, 255);
color: rgba(145, 65, 216, 0.814);
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
width: 100%;
z-index: 1000;
box-shadow: inset;



}

.logo {
font-size: 1.5em;
font-weight: bold;
width: 100%;
height: 65px;
padding: center;
}

.nav-links {
display: flex;
gap: 20px;
}

.nav-links  a {
color: rgba(158, 83, 224, 0.925);
text-transform: uppercase;
transition: color 0.3s;
}

.nav-links  a:hover {
color: #020202;
}


.hamburger {
display: none;
flex-direction: column;
cursor: pointer;
}

.hamburger span {
background: white;
height: 3px;
margin: 4px 0;
width: 25px;
transition: all 0.3s ease-in-out;
}


@media (max-width: 768px) {
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    color: rgb(158, 83, 224);
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: center;
}

.nav-links.active {
    display: flex;
}

.hamburger {
    display: flex;
}
}



.selection .img{

object-fit: cover;


}



